/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  background: #fdfdfd;
  color: #222;
  line-height: 1.6;
  
}

/* Barra superior estilo G1 */
.top-bar {
  background: #6a1b9a; /* Roxo JPnews */
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.top-bar .menu-icon,
.top-bar .search-icon {
  font-size: 20px;
  cursor: pointer;
}

.top-bar .logo {
  font-size: 22px;
  font-weight: bold;
}

.top-bar .category-title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* Conteúdo da notícia */
.news-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.news-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.news-subtitle {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}

.author {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.news-image {
  width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.news-content {
  font-size: 16px;
  margin-top: 15px;
  text-align: justify;
}
