/* ==============================
   Reset
============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ==============================
     Variáveis (Light padrão)
  ============================== */
  :root {
    --bg-color: #ead9fa;
    --text-color: #ffffff;
    --menu-color: #8a2be2;
    --banner-color: #ddd;
    --highlight-color: rgba(255, 255, 255, 0.5);
    --card-bg: #222;
    --card-border: #ead9fa;
    --switch-bg-url: url("../assert/sun-light.svg");
  }
  
  /* Tema Dark */
  .dark {
    --bg-color: #310042;
    --text-color: #ffffff;
    --menu-color: #6b21b1;
    --banner-color: #222;
    --highlight-color: rgba(255, 255, 255, 0.5);
    --card-bg: #222;
    --card-border: #490166;
    --switch-bg-url: url("../assert/moon-stars-dark.svg");
  }
  
  /* ==============================
     Estrutura global
  ============================== */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .center {
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
  }

  
  header h2 span {
    color: blueviolet;
  }
  
  header h2 {
    font-size: 32px;
    color: var(--text-color);
  }
  
  .logo img {
    width: 220px;
  }
  
  .wraper-header {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .banner-ads {
    width: 70%;
    height: 220px;
    background-color: var(--banner-color);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .banner-ads h2 {
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--text-color);
    font-size: 15px;
    font-style: italic;
  }
  
  .menu-main {
    width: 100%;
    background-color: var(--menu-color);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-main .links {
    display: flex;
    gap: 15px; /* espaço entre os links */
}
  
  .switch {
    display: flex;
    align-items: center;
    cursor: pointer;
}

  .menu-main a {
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .menu-main a:hover {
    text-decoration: underline;
  }
  
  /* ==============================
     Notícias
  ============================== */
  .noticias-1 {
    margin-top: 30px;
  }
  
  .noticias-wraper-1 {
    display: flex;
    width: 100%;
  }
  
  .noticia-destaque {
    width: 60%;
    padding-top: 20%;
    background-color: var(--card-bg);
    border: 2px solid var(--card-border);
    position: relative;
  }
  
  .noticia-destaque-single {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .noticia-destaque-single h3 {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--highlight-color);
  }
  
  .outras-noticias-1 {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
  }
  
  .outra-noticia-1-single {
    width: 50%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--card-border);
    background-color: var(--card-bg);
    position: relative;
  }
  
  .outra-noticia-1-single h3 {
    padding: 10px;
    color: var(--text-color);
    width: 100%;
    height: 40px;
    background-color: var(--highlight-color);
  }
  
  /* ==============================
     Switch
  ============================== */
  #switch {
    position: relative;
    width: 64px;
    margin: 4px ;
  }
  
  #switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
  }
  
  .dark #switch button {
    animation: slide-in 0.2s forwards;
  }
  
  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
  }
  

  /* animações */
  @keyframes slide-in {
    from { left: 0; }
    to { left: 50%; }
  }
  @keyframes slide-back {
    from { left: 50%; }
    to { left: 0; }
  }
  